@{
    Layout = "_Layout-Admin";
}
@model User
@using project_group7_prn.Models;

<script type="text/javascript" src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
<div class="container-fluid">

    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4" style="display:flex">
        <h1 class="h3 mb-0 text-gray-800"><i class="fa fa-users" aria-hidden="true"></i> Edit Users</h1>
    </div>

    <!-- Content Row -->
    @if (ViewBag.mess != null)
    {
        <div class="alert alert-success" role="alert" style="text-align:center">
            @ViewBag.mess
        </div>
    }

    @if (ViewBag.messF != null)
    {
        <div class="alert alert-danger" role="alert" style="text-align:center">
            @ViewBag.messF
        </div>
    }
    <div class="card shadow mb-4">

        <div class="card-body">
            @*<input type="hidden" id="h-user-id" value="@Model.UserId" data-action="@Model.Active" />*@

            <form asp-controller="Admin" asp-action="AddNewUser" id="form-add" enctype="multipart/form-data">
                @*<div class="form-group">
                        &nbsp;&nbsp;&nbsp;
                        <button id="btn-status" data-id="" data-status="" type="button" class="btn @(Model.Active == true ? " btn-success" : "btn-danger") btn-id">
                            @(Model.Active == true ? "Active" : "Inactive")
                        </button>
                        <input type="hidden" id="h-id-active" value="@Model.Active" />
                    </div>*@
                <div class="form-group" style="text-align:center">

                    <img src="~/Individual/User/Images/@Model.Avatar" id="preview" style="width:200px; height:auto;" class="hidden" />
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">Email</label>
                    <input type="text" class="form-control" asp-for="Email" placeholder="Enter Email" required>
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">Full Name</label>
                    <input type="text" class="form-control" asp-for="Fullname" placeholder="Enter Full Name" required>
                </div>
                <div class="form-group">
                    <label asp-for="Gender">Gender</label></br>
                    <input type="radio" name="rdGender" value="true" checked> Male
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <input type="radio" name="rdGender" value="false"> Female
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">Address</label>
                    <input type="text" class="form-control" asp-for="Address" placeholder="Enter Address" required>
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Phone</label>
                    <input type="text" class="form-control" asp-for="Phone" id="exampleInputPassword1" placeholder="Enter Phone Number" required>
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Avatar</label>
                    &nbsp;&nbsp;&nbsp;
                    <input type="file" id="fileImage" name="postedFiles" multiple />
                </div>

                <div class="form-group">
                    <label for="exampleInputPassword1">Password</label>
                    <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Enter Password" required>
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Confirm Password</label>
                    <input type="text" class="form-control" asp-for="Password" id="exampleInputPassword1" placeholder="Confirm Password" required>
                </div>

                <a href="/Admin/UserList" class="btn btn-info" role="button">Cancel</a>
                <button type="button" class="btn btn-primary" id="submit-button">Submit</button>
                <input type="hidden" asp-for="@Model.Avatar" />
                <input type="hidden" asp-for="@Model.Role" />
                <input type="hidden" asp-for="@Model.Active" />


            </form>
        </div>
    </div>

</div>
<!-- /.container-fluid -->
            </div>
<!-- End of Main Content -->
        </div>
<!-- End of Content Wrapper -->
    </div>
<!-- End of Page Wrapper -->
<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

<!-- Logout Modal-->
<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                <a class="btn btn-primary" href="login.html">Logout</a>
            </div>
        </div>
    </div>
</div>

<!-- Change Active Modal-->
<div class="modal fade" id="confirm-change-active" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Change Active</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <p id="ct"></p>
                <p>Do you want to proceed?</p>
                <p class="debug-url"></p>
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                <a class="btn btn-primary btn-change">Change</a>
            </div>
            <input type="hidden" id="hUid" value="0" />
            <input type="hidden" id="hStatus" value="" />
        </div>
    </div>
</div>

<!-- Update Modal-->
<div class="modal fade" id="confirm-add" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add new</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <p id="ct1"></p>
                <p>Do you want to proceed?</p>
                <p class="debug-url"></p>
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                <a class="btn btn-primary btn-update">Change</a>
            </div>
            <input type="hidden" id="hUid" value="0" />
            <input type="hidden" id="hStatus" value="" />
        </div>
    </div>
</div>

<script type="text/javascript">



    $('#submit-button').click(function () {
        $('#ct1').html('The user will be added to the system.');
        $('#confirm-add').modal({
            backdrop: 'static',
            keyboard: true,
            show: true
        }
        );
    });


    $('.btn-update').click(function () {
        $('#form-add').submit();
        $('#confirm-add').modal('toggle');
    });

    fileImage.onchange = evt => {
        const [file] = fileImage.files
        if (file) {
            preview.src = URL.createObjectURL(file);
            $('#preview').removeClass("hidden");
        }
    }


</script>

