@{
    Layout = "_Layout-Admin";
}

<div class="container-fluid">

    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800"><i class="fa fa-mobile" aria-hidden="true"></i> Products</h1>

        <a asp-controller="Admin" asp-action="AddNewProduct" class="btn btn-info" role="button" style="margin-right:40px;">Add New</a>
    </div>

    <!-- Content Row -->
    <div class="card shadow mb-4">

        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Image</th>
                            <th>Title</th>
                            <th>Price</th>
                            <th>Stock</th>
                            <th>Category</th>
                            <th>Date Create</th>
                            <th></th>
                            <th></th>


                        </tr>
                    </thead>
                    <tbody>
                        @{
                            foreach (Product u in ViewBag.products)
                            {
                                <tr>
                                    <td>
                                        <img src="~/Individual/User/Images/@u.Img" style="width:50px; height:auto" />
                                    </td>
                                    <td>@u.Title</td>
                                    <td>@u.Price</td>
                                    <td>@u.Stock</td>
                                    <td>@u.Category.Name</td>
                                    <td>@u.CreateDate</td>
                                    <td><a href="/Admin/EditProduct?productId=@u.ProductId" class="btn btn-info" role="button">Edit</a></td>
                                    <td><a href="#" class="btn btn-danger btn-delete" id="delete-id-@u.ProductId" data-pid="@u.ProductId" role="button">Delete</a></td>
                                </tr>
                            }
                        }

                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>
<!-- /.container-fluid -->
            </div>
<!-- End of Main Content -->
        </div>
<!-- End of Content Wrapper -->
    </div>
<!-- End of Page Wrapper -->
<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

<!-- Logout Modal-->
<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                <a class="btn btn-primary" href="login.html">Logout</a>
            </div>
        </div>
    </div>
</div>


<!-- Delete Confirm Modal-->
<div class="modal fade" id="confirm-delete" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Delete</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <p id="ct2"></p>
                <p>Do you want to proceed?</p>
                <p class="debug-url"></p>
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                <a class="btn btn-primary btn-danger btn-d">Delete</a>
            </div>
            <input type="hidden" id="hPid" value="0" />
        </div>
    </div>
</div>


<script type="text/javascript">
    $('.btn-delete').click(function (e) {
        var pid = $(e.target).data('pid');
        $('#ct2').html('This product will be removed from the list.');
        $('#hPid').val(pid);
        $('#confirm-delete').modal({
            backdrop: 'static',
            keyboard: true,
            show: true
        }
        );
    });

    $('.btn-d').click(function () {
        var pid = $('#hPid').val();

        $.ajax({
            url: "/Admin/Delete",
            type: "get", //send it through get method
            data: {
                productId: pid
            },
            success: function (response) {
                //Do Something
                $('#confirm-delete').modal('toggle');
                sessionStorage.setItem('save_order_1_2', true);
                window.location.reload();

            },
            error: function (xhr) {

            }
        });
    });


    $(function () {
        if (sessionStorage.getItem('save_order_1_2')) {
            toastr.success("Delete product successfull!");
            sessionStorage.removeItem('save_order_1_2');
        }
    });



</script>
