@{
    Layout = "_Layout-Admin";
}

<div class="container-fluid">

    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4" style="display:flex">
        <h1 class="h3 mb-0 text-gray-800"><i class="fa fa-users" aria-hidden="true"></i> Users</h1>
        <button type="button" class="btn btn-info" style="margin-right:40px;">Add New</button>
    </div>

    <!-- Content Row -->
    <div class="card shadow mb-4">

        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Avatar</th>
                            <th>UserId</th>
                            <th>FullName</th>
                            <th>Email</th>
                            <th>Password</th>
                            <th>Gender</th>
                            <th>Phone</th>
                            <th>Active</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            foreach (User u in ViewBag.users)
                            {
                                                <tr>
                                                    <td>
                                                        <img src="~/Individual/User/Images/@u.Avatar" style="width:50px; height:auto" />
                                                    </td>
                                                    <td>@u.UserId</td>
                                                    <td>@u.Fullname</td>
                                                    <td>@u.Email</td>
                                                    <td>@u.Password</td>
                                                    <td>@u.Gender</td>
                                                    <td>@u.Phone</td>
                                                    <td>@u.Active</td>
                                                    <td><a href="/Admin/EditUser?email=@u.Email" class="btn btn-info" role="button">Edit</a></td>
                                                </tr>
                            }
                        }

                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>
<!-- /.container-fluid -->
            </div>
<!-- End of Main Content -->
        </div>
<!-- End of Content Wrapper -->
    </div>
<!-- End of Page Wrapper -->
<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

<!-- Logout Modal-->
<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                <a class="btn btn-primary" href="login.html">Logout</a>
            </div>
        </div>
    </div>
</div>
