<!--content-->
<!---->
<div class="product">
    <div class="container">
        <div class="col-md-3 product-price">

            <div class=" rsidebar span_1_of_left">
                <div class="of-left">
                    <h3 class="cate">Categories</h3>
                </div>
                <ul class="menu">
                    @foreach (Category ct in ViewBag.Category)
                    {
                        <li class="item1">
                            <a asp-controller="Product" asp-action="Index" asp-route-Cid="@(ct.Id)">@(ct.Name)</a>
                        </li>
                    }
                </ul>
            </div>
            <!--initiate accordion-->
            
            <div class="product-middle">

                <div class="fit-top">
                    <h6 class="shop-top">Lorem Ipsum</h6>
                    <a href="#" class="shop-now">SHOP NOW</a>
                    <div class="clearfix"> </div>
                </div>
            </div>

            <!---->
            <div class="product-bottom">
                <div class="of-left-in">
                    <h3 class="best">Best Sellers</h3>
                </div>
                <div class="product-go">
                    <div class=" fashion-grid">
                        <a href="#"><img class="img-responsive " src="images/p1.jpg" alt=""></a>

                    </div>
                    <div class=" fashion-grid1">
                        <h6 class="best2">
                            <a href="#">
                                Lorem ipsum dolor sit
                                amet consectetuer
                            </a>
                        </h6>

                        <span class=" price-in1"> $40.00</span>
                    </div>

                    <div class="clearfix"> </div>
                </div>
                <div class="product-go">
                    <div class=" fashion-grid">
                        <a href="#"><img class="img-responsive " src="images/p2.jpg" alt=""></a>

                    </div>
                    <div class="fashion-grid1">
                        <h6 class="best2">
                            <a href="#">
                                Lorem ipsum dolor sit
                                amet consectetuer
                            </a>
                        </h6>

                        <span class=" price-in1"> $40.00</span>
                    </div>

                    <div class="clearfix"> </div>
                </div>

            </div>
            <div class=" per1">
                <a href="#">
                    <img class="img-responsive" src="images/pro.jpg" alt="">
                    <div class="six1">
                        <h4>DISCOUNT</h4>
                        <p>Up to</p>
                        <span>60%</span>
                    </div>
                </a>
            </div>
        </div>
        @{ Product p = ViewBag.PDetail as Product;}
    <div class="col-md-9 product-price1">
        <div class="col-md-5 single-top">
            <div class="flexslider">
                <img class="img-responsive" src="@(p.Img)" />
            </div>
        </div>
        <div class="col-md-7 single-top-in simpleCart_shelfItem">
            <div class="single-para ">
                <h4>@(p.Title)</h4>
                <div class="star-on">
                    <ul class="star-footer">
                        <li><a href="#"><i> </i></a></li>
                        <li><a href="#"><i> </i></a></li>
                        <li><a href="#"><i> </i></a></li>
                        <li><a href="#"><i> </i></a></li>
                        <li><a href="#"><i> </i></a></li>
                    </ul>
                    <div class="clearfix"> </div>
                </div>
                @if (p.SalePrice != null)
                {
                    <h5 class="item_price"><del style="margin-right: 30px;">@(p.Price)</del><span>@(p.SalePrice)</span></h5>
                }
                else
                {
                    <h5 class="item_price">@(p.Price)</h5>
                }

                <p>@(p.Description)</p>
                <a href="#" class="add-cart item_add">ADD TO CART</a>

            </div>
        </div>
        <div class="clearfix"> </div>
        <!---->
        <div class="cd-tabs">
            <nav style="margin-top: 55px">
                <ul class="cd-tabs-navigation">
                    <li><a data-content="television" href="#0" class="selected ">Reviews @(ViewBag.countFBack)</a></li>

                </ul>
            </nav>
            <ul class="cd-tabs-content" id="feedback">
                @foreach (Feedback fb in ViewBag.FBack)
                {
                    <li data-content="television" class="selected">
                        <div class="comments-top-top">
                            <div class="top-comment-left">
                                <img class="img-responsive" src="@(fb.User.Avatar)" alt="">
                            </div>
                            <div class="top-comment-right" style="margin-bottom: 10px">
                                <h6>@(fb.User.Fullname) - @(fb.FeedbackDate?.ToString("dd/MM/yyyy"))</h6>
                                <ul class="star-footer">
                                    @for (int i = 1; i <= fb.Rated; i++)
                                    {
                                        <li><i> </i></li>
                                    }
                                    @for (int i = (int)fb.Rated + 1; i <= 5; i++)
                                    {
                                        @*<li><a href="#"><i> </i></a></li>*@
                                    }
                                </ul>
                                <p>@(fb.FbContent)</p>
                                @if(ViewBag.UserId == fb.UserId) 
                                { 
                                    <div style="text-align: end">
                                        <a class="text-primary editfb" id="@(fb.FeedbackId)" onclick="EditFeedBack(@(fb.FeedbackId))">Edit</a> / 
                                        <a class="text-danger deletefb" id="@(fb.FeedbackId)" onclick="DeleteFeedBack(@(fb.FeedbackId),this)">Delete</a>
                                    </div>
                                 }
                            </div>
                        </div>
                    </li>
                }
            </ul>
            <a class="add-re add-hiden"style="cursor: pointer;">ADD REVIEW</a>
            <div style="display: none;" id="addfeedback">
                <input type="text" name="fbcontent" style="margin-top: 5px; height: 35px; width: 100%; border: none; border-bottom: 1px solid #EF5F21; outline: none; box-shadow: 0 0 5pt 2pt #d6d6d6; border-radius: 4px; padding: 0px 10px; " required/>
                <label>Rate</label>
                <input type="radio" value="1" name="rate" required> 1
                <input type="radio" value="2" name="rate" required> 2
                <input type="radio" value="3" name="rate" required> 3
                <input type="radio" value="4" name="rate" required> 4
                <input type="radio" value="5" name="rate" required> 5
                <input type="hidden" name="containFbID" value="@(p.ProductId)">
                <div style="text-align: center;">
                    <a class="add-re" id="btadd" style="cursor: pointer;">COMMENT</a>
                </div>
            </div>
            <div class="clearfix"> </div>
            <div style="display: flex; justify-content: end;">
                <div>
                    <a class="add-re h" style="cursor: pointer;">hide away</a>
                    <a class="add-re viewmore" id="2" style="cursor: pointer;">View more</a>
                </div>
            </div>
            <div class="clearfix"></div>

        </div>
            <div class=" bottom-product">
                <div class="col-md-4 bottom-cd simpleCart_shelfItem">
                    <div class="product-at ">
                        <a href="#">
                            <img class="img-responsive" src="images/pi3.jpg" alt="">
                            <div class="pro-grid">
                                <span class="buy-in">Buy Now</span>
                            </div>
                        </a>
                    </div>
                    <p class="tun">It is a long established fact that a reader</p>
                    <a href="#" class="item_add"><p class="number item_price"><i> </i>$500.00</p></a>
                </div>
                <div class="col-md-4 bottom-cd simpleCart_shelfItem">
                    <div class="product-at ">
                        <a href="#">
                            <img class="img-responsive" src="images/pi1.jpg" alt="">
                            <div class="pro-grid">
                                <span class="buy-in">Buy Now</span>
                            </div>
                        </a>
                    </div>
                    <p class="tun">It is a long established fact that a reader</p>
                    <a href="#" class="item_add"><p class="number item_price"><i> </i>$500.00</p></a>
                </div>
                <div class="col-md-4 bottom-cd simpleCart_shelfItem">
                    <div class="product-at ">
                        <a href="#">
                            <img class="img-responsive" src="images/pi4.jpg" alt="">
                            <div class="pro-grid">
                                <span class="buy-in">Buy Now</span>
                            </div>
                        </a>
                    </div>
                    <p class="tun">It is a long established fact that a reader</p>
                    <a href="#" class="item_add"><p class="number item_price"><i> </i>$500.00</p></a>
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>

        <div class="clearfix"> </div>
    </div>
</div>
<script>
    //show more comment
    $(".viewmore").click(function () {
        var id = $(this).attr('id');
        $(this).attr("id", (parseInt(id) + 1));
        console.log(id);

        $.ajax({
            url: '/Product/viewFeedBack/',
            dataType: "json",
            type: "POST",
            data: { Id: id, Pid: @(p.ProductId)},
            success: function (data) {
                var feedback = document.getElementById('feedback');
                feedback.innerHTML = data;
            },
            error: function (xhr) {
                alert('error');
            }
        });
    });

    //reduce comments
    $(".h").click(function () {
        var id = $(".viewmore").attr('id');
        if (id > 2) {
            $(".viewmore").attr("id", (parseInt(id) - 1));
        }
        $.ajax({
            url: '/Product/viewFeedBack/',
            dataType: "json",
            type: "POST",
            data: { Id: 1, Pid: @(p.ProductId)},
            success: function (data) {
                var feedback = document.getElementById('feedback');
                feedback.innerHTML = data;
            },
            error: function (xhr) {
                alert('error');
            }
        });
    });

    //click add feedback
    $(".add-hiden").click(function () {
        var h = $(this).text();
        if ($(this).text() == "ADD REVIEW") {
            $("#addfeedback").css("display", "block");
            $(this).text("HIDDEN");
            $("#btadd").text("COMMENT");
        } else {
            $("#addfeedback").css("display", "none");
            $(this).text("ADD REVIEW");
            $("input[name='fbcontent']").val("");
            var rate = $("input[name='rate']").tooltip();
            for (var i = 0; i < rate.length; i++) {
                if (rate[i].checked == true) {
                    rate[i].checked = false;
                }
            }
        }
    });

    //add-edit
    $("#btadd").click(function () {
        var fbId = $("input[name='containFbID']").val();
        var fbContent = $("input[name='fbcontent']").val();
        var rate = $("input[name='rate']").tooltip();
        var rateValue;
        for (var i = 0; i < rate.length; i++) {
            if (rate[i].checked == true) {
                rateValue = rate[i].value;
            }
        }


        if ($("#btadd").text() == "COMMENT") {
            $.ajax({
                url: '/Product/insertFeedBack/',
                dataType: "json",
                type: "POST",
                data: { id: 1, pId: @(p.ProductId), fbContent: fbContent, rate: rateValue },
                success: function (data) {
                    var feedback = document.getElementById('feedback');
                    feedback.innerHTML = data;
                },
                error: function (xhr) {
                    alert('error');
                }
            });
        }
        if ($("#btadd").text() == "SAVE") {
            $.ajax({
                url: '/Product/UPdateFeedBack/',
                dataType: "json",
                type: "POST",
                data: { fbId: fbId, id: 1, pId: @(p.ProductId), fbContent: fbContent, rate: rateValue},
                success: function (data) {
                    var feedback = document.getElementById('feedback');
                    feedback.innerHTML = data;
                },
            });
        }

        $("input[name='fbcontent']").val("");
        var rate = $("input[name='rate']").tooltip();
        for (var i = 0; i < rate.length; i++) {
            if (rate[i].checked == true) {
                rate[i].checked = false;
            }
        }
    });
    //edit
    function EditFeedBack (fID) {
        var fbId = fID;
        console.log(fbId);
        $("#addfeedback").css("display", "block");
        $(".add-hiden").text("HIDDEN");

        $.ajax({
            url: '/Product/FindFeedBack/',
            dataType: "json",
            type: "POST",
            data: { fbId: fbId},
            success: function (data) {
                console.log(data);
                $("input[name='fbcontent']").val(data.fbContent);
                $("input[name='containFbID']").val(data.feedbackId);
                var rate = $("input[name='rate']").tooltip();
                for (var i = 0; i < rate.length; i++) {
                    if (i == (data.rated-1)) {
                        rate[i].checked=true;
                    }
                }
                $("#btadd").text("SAVE");
            },
            error: function (xhr) {
                alert('error');
            }
        });
    }
    //delete
    function DeleteFeedBack(fID,btn) {
        if (confirm("Do you want to delete this course?")) {
            var id = $(".viewmore").attr('id');
            $.ajax({
                url: '/Product/DeleteFeedBack/',
                dataType: "json",
                type: "POST",
                data: { fbId: fID, pId: @(p.ProductId), id: (parseInt(id) - 1)},
                success: function (data) {
                    $(btn).closest('li').fadeOut();
                    var feedback = document.getElementById('feedback');
                    feedback.innerHTML = data;
                },
            });
        }
    }
</script>
<!--//content-->
