@using project_group7_prn.Models
<div class="banner">
    <div class="container">
        <script src="~/template/js/responsiveslides.min.js"></script>
        <script>
    $(function () {
      $("#slider").responsiveSlides({
      	auto: true,
      	nav: true,
      	speed: 500,
        namespace: "callbacks",
        pager: true,
      });
    });
        </script>
        <div id="top" class="callbacks_container">
            <ul class="rslides" id="slider">
                <li>

                    <div class="banner-text">
                        <h3>Lorem Ipsum is not simply dummy  </h3>
                        <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor .</p>
                        <a href="single.html">Learn More</a>
                    </div>

                </li>
                <li>

                    <div class="banner-text">
                        <h3>There are many variations </h3>
                        <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor .</p>
                        <a href="single.html">Learn More</a>

                    </div>

                </li>
                <li>
                    <div class="banner-text">
                        <h3>Sed ut perspiciatis unde omnis</h3>
                        <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor .</p>
                        <a href="single.html">Learn More</a>

                    </div>

                </li>
            </ul>
        </div>

    </div>
</div>

<!--content-->
<div class="content">
    <div class="container">
        <div class="content-top">
            <h1>New phone model</h1>
            <div class="grid-in">
                @foreach (Product p in ViewBag.Product)
                {
                    <div class="col-md-4 grid-top">
                        <a href="single.html" class="b-link-stripe b-animate-go  thickbox">
                            <img class="img-responsive" src="@(p.Img)" alt="">
                            <div class="b-wrapper">
                                <h3 class="b-animate b-from-left    b-delay03 ">
                                    <span>@(p.Category.Name)</span>
                                </h3>
                            </div>
                        </a>


                        <p><a href="single.html">@(p.Title)</a></p>
                    </div>
                }

                <div class="clearfix"> </div>
            </div>
        </div>
        <!----->
        @{ Product bestp = ViewBag.BestSell as Product;}
        <div class="content-top-bottom">
            <h2>Best selling products</h2>
            <div class="col-md-5 men">
                <a href="single.html" class="b-link-stripe b-animate-go  thickbox">
                    <img class="img-responsive" src="@(bestp.Img)" alt="">
                    <div class="b-wrapper">
                        <h3 class="b-animate b-from-top top-in   b-delay03 ">
                            <span>@(bestp.Category.Name)</span>
                        </h3>
                    </div>
                </a>
            </div>
            @{ List<Product> ptop = ViewBag.BestSellTop as List<Product>;}
            <div class="col-md-6">
                <div class="col-md2">
                    @for (int i = 1; i < ptop.Count; i++)
                    {
                    <div class="col-md-5 men1">
                        <a href="single.html" class="b-link-stripe b-animate-go  thickbox">
                            <img class="img-responsive" src="@(ptop[i].Img)" alt="">
                            <div class="b-wrapper">
                                <h3 class="b-animate b-from-top top-in2   b-delay03 ">
                                    <span>@(ptop[i].Category.Name)</span>
                                </h3>
                            </div>
                        </a>

                    </div>
                    }
                    <div class="clearfix"> </div>
                </div>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
    <!---->
    <div class="content-bottom">
        <ul>
            <li><a href="#"><img class="img-responsive" src="https://rubee.com.vn/wp-content/uploads/2021/05/logo-iphone.jpg" alt=""></a></li>
            <li><a href="#"><img class="img-responsive" style="width: 241px;" src="http://logovina.com/wp-content/uploads/2015/09/samsung-logo.jpg" alt=""></a></li>
            <li><a href="#"><img class="img-responsive" style="height: 97px;" src="https://upload.wikimedia.org/wikipedia/commons/a/a2/OPPO_LOGO_2019.png" alt=""></a></li>
            <li><a href="#"><img class="img-responsive" style="height: 97px; width: 250px" src="https://i.pinimg.com/originals/21/c1/40/21c1404894ab3b2d6c35a31c9669c7af.png" alt=""></a></li>
            <li><a href="#"><img class="img-responsive" style="height: 97px; width: 250px" src="https://brademar.com/wp-content/uploads/2022/05/Nokia-Logo-PNG-1978-%E2%80%93-Now-1.png" alt=""></a></li>
            <li><a href="#"><img class="img-responsive" style="height: 97px;" src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/13/Vivo_logo_2019.svg/2560px-Vivo_logo_2019.svg.png" alt=""></a></li>
            <li><a href="#"><img class="img-responsive" style="height: 97px;" src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/f5/Realme-realme-_logo_box-RGB-01_with_out_back_ground.svg/2560px-Realme-realme-_logo_box-RGB-01_with_out_back_ground.svg.png" alt=""></a></li>
            <div class="clearfix"> </div>
        </ul>
    </div>
</div>

</div>